annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
bcrypt==4.0.1
certifi==2026.6.17
cffi==2.0.0
click==8.4.1
cryptography==49.0.0
deprecation==2.1.0
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.138.0
greenlet==3.5.2
gunicorn==26.0.0
h11==0.16.0
h2==4.3.0
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.17
loguru==0.7.3
multidict==6.7.1
packaging==26.2
passlib==1.7.4
postgrest==2.31.0
propcache==0.5.2
psycopg==3.3.4
psycopg-binary==3.3.4
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.13.0
python-dotenv==1.2.2
python-multipart==0.0.32
realtime==2.31.0
SQLAlchemy==2.0.51
starlette==1.2.1
storage3==2.31.0
StrEnum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.49.0
websockets==15.0.1
yarl==1.24.2
